%center
  - if current_user.id != @user.id
    - if !current_user.following?(@user)
      = form_for(current_user.active_relationships.build) do |f|
        = f.hidden_field :followed_id, value: @user.id
        = button_tag( class: "ui active button") do
          <i class="user icon"></i> Takip Et
    - else
      = form_for(current_user.active_relationships.find_by(followed_id: @user.id), html: {method: :delete}) do |f|
        = button_tag( class: "ui active button") do
          <i class="user icon"></i> Takibi Bırak
