.container
  .row
    .col-md-2
    .col-md-8
      - if devise_error_messages! != ""
        %div{:class => "alert alert-danger fade in"}
          %button.close{"data-dismiss" => "alert"} ×
          = devise_error_messages!
    .col-md-2
  .row
    .col-md-2
    .col-md-8
      .ui.segments
        .ui.segment.blue.inverted Kullanıcıyı Düzenle
        .ui.secondary.segment
          .ui.form
            = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
              .field
                = f.text_field :username, autofocus: true, placeholder: 'Kullanıcı Adı'
              .field
                = f.email_field :email, placeholder: 'E Posta'
              - if devise_mapping.confirmable? && resource.pending_reconfirmation?
                %div
                  Currently waiting confirmation for:
                  = resource.unconfirmed_email
              .field
                = f.password_field :password, autocomplete: "off", placeholder: 'Yeni Parola'
              .field
                = f.password_field :password_confirmation, autocomplete: "off",placeholder: 'Tekrar Yeni  Parola'

              .field
                = f.password_field :current_password, autocomplete: "off", placeholder: 'Değişiklikleri Kayıt Etmek için Şu Anki Parolanız Gerekli'

              .field
                = f.file_field :avatar


              .actions
                = f.submit "Güncelle", :class => 'ui blue button'

          %h3 Hesabımı Kapat
          = button_to "Hesabımı Kapat", registration_path(resource_name), data: { confirm: "Emin Misin?" }, method: :delete

          = render "devise/shared/links"

    .col-md-2
