.container
  .row
    .col-md-3
      .ui.card
        .image
          = image_tag(@user.avatar.url(:medium))
        .content
          .header Alperen Bozkurt
          .meta
            %a
              @
              = @user.username
          .description
            Buraya birkaç cümle yazılacak.
            %br
            = link_to 'Profili Düzenle', edit_user_registration_path, class: 'header'
        .extra.content
          %span.right.floated
            = @user.created_at.year
            \-
            = @user.created_at.mon

          %span
            %i.user.icon
            #{@user.followers.count} Takipçi
      = render 'components/follow_button'
    .col-md-9
      .ui.top.attached.tabular.menu
        %a.item.active{"data-tab" => "first"} Zincirleri
        %a.item{"data-tab" => "second"} Takipcileri
        %a.item{"data-tab" => "third"} Takip Ettikleri
      .ui.bottom.attached.tab.segment.active{"data-tab" => "first"}
        .ui.items
          - @user.chains.each do |chain|
            .item
              .image
                %img{:src => image_url("no-image.png")}/
              .content
                = link_to chain.name, chain_path(chain), class: 'header'
                .meta
                  %span
                    = chain.rings.size
                    Gün Girdi Var.
                .description
                  %p
                .extra
                  = chain.desc

      .ui.bottom.attached.tab.segment{"data-tab" => "second"}
        .ui.special.cards.five
          - @user.followers.each do |e|
            .card
              .blurring.dimmable.image{style: "height:146px"}
                .ui.dimmer
                  .content
                    .center
                      = render 'components/follow_button'
                = image_tag(e.avatar.url(:medium))
              .content
                %a.header
                  = link_to "@" + e.username, profile_path(e.username)
              .extra.content
                = render 'components/follow_button'
      .ui.bottom.attached.tab.segment{"data-tab" => "third"}
        .ui.special.cards.five
          - @user.following.each do |e|
            .card
              .blurring.dimmable.image{style: "height:146px"}
                .ui.dimmer
                  .content
                    .center
                      = render 'components/follow_button'
                = image_tag(e.avatar.url(:medium))
              .content
                %a.header
                  = link_to "@" + e.username, profile_path(e.username)
              .extra.content
                = render 'components/follow_button'

:javascript
  $('.menu .item')
    .tab()
  ;
