%html
  %head
    %title Zinciri Kırma
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag    'home', media: 'all', 'data-turbolinks-track': 'reload'
  %body
    .top
      %nav.navbar.navbar-default.navbar-fixed-top.navbar-inverse.golge
        .container
          / Brand and toggle get grouped for better mobile display
          .navbar-header
            %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            %a.navbar-brand{:href => root_path} Zinciri Kırma
          / Collect the nav links, forms, and other content for toggling
          #bs-example-navbar-collapse-1.collapse.navbar-collapse
            %ul.nav.navbar-nav
              - if current_user.present?
                %li
                  %a{:href => chains_path} Zincirler
                %li
                  %a{:href => new_chain_path} Yeni Zincir
            %ul.nav.navbar-nav.navbar-right
              - if current_user.present?
                %li= link_to current_user.email, root_path
                %li= link_to 'Çıkış Yap', destroy_user_session_path, method: :delete
              - else
                %li.dropdown
                  %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                    Giriş Yap
                    %span.caret
                  %ul.dropdown-menu
                    %li= link_to 'Giriş yap', new_user_session_path
                    %li= link_to 'Kaydol', new_user_registration_path
      .segment.bg.inverted
        .block
          %h3 Yeni Alışkanlıklar için
          .kalin
            ZİNCİRİ
          .ince
            KIRMA
  .bosluk
  .bosluk
  .bosluk
  .bosluk
  .container
    .row
      .col-md-3
        .ui.card
          .content
            .header Zinciri Kırma
            .meta Hedefini belirle. O hedefe ulaşmak için her gün bir şey yap. Yaptıktan sonra da önüne bir takvim al ve o günün üstüne kocaman bir çarpı koy. Her gün bu işlemi tekrarla. Takvimini çarpılarla doldur. Yan yana gelen bu çarpılardan bir zincir oluştur. Yeni amacın bu zinciri kırmamak!
      .col-md-6
        .vid.golge
          %iframe{:allowfullscreen => "", :frameborder => "0", :src => "https://www.youtube.com/embed/oNmXH2uN0Do"}

      .col-md-3
        .ui.card
          .content
            .header Neden Hedef Belirlemeliyim?
            .meta Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  .bosluk
  .bosluk
  .footer
    .row
      .col-md-3.vr
        %h1.text-center Kurumsal
        %ul#kurumsal
          .item Hakkımızda
          .item Etki
          .item Takım
      .col-md-3.vr
        %h1.text-center Topluluk
        %ul#Topluluk
          .item Öneri ve İstek
          .item Katkıda Bulun
          .item Reklam
          .item Basın
      .col-md-3.vr
        %h1.text-center Yardım
        %ul#Yardim
          .item Nasıl Kullanılır
          .item Gizlilik
          .item İlkeler
      .col-md-3
        %h1.text-center Bizi Takip Edin
        %ul#Sosyal
          .item Facebook
          .item Twitter
          .item İnstagram
    .row
      .col-md-12.text-center.lisans
        %h4 Bu sitenin kaynak kodları MIT Lisansı ile lisanslanmıştır.
