%html
  %head
    %title Zinciri Kırma
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag    'home', media: 'all', 'data-turbolinks-track': 'reload'
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
  %body
    .top
      %nav.navbar.navbar-default.navbar-fixed-top.navbar-inverse.golge
        .container
          / Brand and toggle get grouped for better mobile display
          .navbar-header
            %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            %a.navbar-brand{:href => root_path} Zinciri Kırma
          / Collect the nav links, forms, and other content for toggling
          #bs-example-navbar-collapse-1.collapse.navbar-collapse
            %ul.nav.navbar-nav
              - if current_user.present?
                %li
                  %a{:href => chains_path} Zincirler
                %li
                  %a{:href => new_chain_path} Yeni Zincir
            %ul.nav.navbar-nav.navbar-right
              - if current_user.present?
                %li= link_to current_user.email, root_path
                %li= link_to 'Çıkış Yap', destroy_user_session_path, method: :delete
              - else
                %li.dropdown
                  %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                    Giriş Yap
                    %span.caret
                  %ul.dropdown-menu
                    %li= link_to 'Giriş yap', new_user_session_path
                    %li= link_to 'Kaydol', new_user_registration_path
      .segment.bg.inverted
        .block
          %h3 Yeni Alışkanlıklar için
          .kalin
            ZİNCİRİ
          .ince
            KIRMA
      .block-mobile
        %h3 Yeni Alışkanlıklar için
        .zincirikirma
          .kalinx
            ZİNCİRİ
          .incex
            KIRMA
  .bosluk
  .bosluk
  .bosluk
  .container
    .row
      .col-md-3
        .ui.card
          .content
            .header Zinciri Kırma
            .meta Hedefini belirle. O hedefe ulaşmak için her gün bir şey yap. Yaptıktan sonra da önüne bir takvim al ve o günün üstüne kocaman bir çarpı koy. Her gün bu işlemi tekrarla. Takvimini çarpılarla doldur. Yan yana gelen bu çarpılardan bir zincir oluştur. Yeni amacın bu zinciri kırmamak!
      .col-md-6
        .vid.golge
          %iframe{:allowfullscreen => "", :frameborder => "0", :src => "https://www.youtube.com/embed/oNmXH2uN0Do"}
      .col-md-3
        .ui.card
          .content
            .header Neden Hedef Belirlemeliyim?
            .meta
              Hedef koymak önüne bakmaktır. Önüne yani ileriye bakmak çok önemli. Eğer geçen yıl kendinize “Her gün 10 dakika kitap okuyacağım!” gibi bir hedef belirlediyseniz, bu hedef doğrultusunda takviminizi çarpılarla doldurduysanız geçen yıl en az 3650 dakika kitap okudunuz demektir. Bir insan ortalama olarak dakikada 300 kelime okur. Dolayısıyla geçen yıl 300 x 3650 = 1.095.000 kelime okudunuz.  1 milyondan fazla kelimeyi kavanoza attınız. 1 milyondan fazla fikir çekirdeği çitlediniz.
  .bosluk
  .footer
    .row
      .col-md-12.text-center.lisans
        %h4 Bu sitenin kaynak kodları MIT Lisansı ile lisanslanmıştır.
