- if !@chains.present?
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  .col-md-12.text-center
    = link_to 'Yeni Zincir Oluştur', new_chain_path, class: 'btn btn-primary'
- else
  -@chains.each do |chain|
    .col-md-3.text-center
      .panel.panel-default
        .panel-heading
          = link_to chain.name, chain_path(chain)
        .panel-body
          = chain.desc
          %br
          - if chain.rings.where(day: (Time.new).yday).any?
            %span.glyphicon.glyphicon-ok
          - else
            = form_for([chain,@ring]) do |f|
              = f.text_field :info, placeholder: 'Bugün Ne Yaptın', class: 'form-control', style: "width: 70%; float:left"
              = f.submit 'Ekle', class: 'btn btn-default', style: "width: 27%"
