.panel.panel-default
  .panel-heading Yeni Zincir
  .panel-body
    - @chain.errors.full_messages.each do |err|
      %li= err
    %table.table
      =form_for @chain do |f|
        = f.text_field :name, placeholder: 'Hedefin', class: 'form-control'
        %br
        = f.text_field :desc, placeholder: 'Açıklama', class: 'form-control'
        = f.hidden_field :break, value: 0
        %br
        = f.submit 'Zinciri Ekle', class: 'btn btn-primary'
      %p
        ! Sayfada Bug olabilir. Lütfen sayfayı yeniledikden sonra zincir oluşturmayı deneyiniz...
