.panel.panel-default
  .panel-heading
    .ui.items
      .item
        %a.ui.mini.avatar.image
          = image_tag(@chain.user.avatar.url(:thumb))
        .middle.aligned.content
          .header
            = link_to @chain.user.username, profile_path(@chain.user.username)
            >
            = link_to @chain.name, chain_path(@chain)
            %i.like.icon
  .panel-body
    #cal-heatmap
    %br
    .col-md-7
      #onClick-placeholder
      .bilgi
        Toplam #{@chain.rings.count} gün zincire halka eklenmiş.


.col-md-7{style: "padding-left: 0px"}
  .panel.panel-default
    .panel-heading
      Yorumlar
    .panel-body
      .ui.minimal.comments
        - if @chain.comments.any?
          - @chain.comments.each do |comment|
            .comment.yorum
              .avatar
                = image_tag(comment.user.avatar.url(:thumb))
              .content
                = link_to comment.user.username, profile_path(comment.user.username), class: 'author'
                - if comment.user_id == current_user.id
                  |
                  = link_to "Yorumu Sil", chain_comment_path(@chain,comment), :method => :delete
                .metadata
                  %span.date
                    = comment.created_at.strftime("%d/%m/%Y  %H:%M")
                .text
                  = comment.content
        - else
          Hiç Yorum Yapılmamış..


        = form_for([@chain,@comment]) do |f|
          = f.text_field :content, placeholder: 'Bir yorum bırak', class: 'form-control', style: "width: 70%; float:left"
          = f.submit 'Yorum Yap', class: 'btn btn-default', style: "width: 27%"

:javascript
  var data = #{@data};

  var cal = new CalHeatMap();
  cal.init({
    itemSelector: "#cal-heatmap",
    domain: "year",
    subDomain: "day",
    cellSize: 19,
    start: new Date(2017, 0),
    range: 1,
    data: data,
    legendColors: {
  		min: "#efefef",
  		max: "steelblue"
  	},
    legendVerticalPosition: "bottom",
    legendHorizontalPosition: "right",
    onClick: function(date, nb) {
  		$("#onClick-placeholder").html(
         formatDate(date) + " tarihinde " +
  			(nb === null ? "girdi yok." : (nb + " girdi var."))
  		);
  	},
    legend: [10,20,30,40,50,60,70,80,90,100]
  });
  function formatDate(date) {
    var monthNames = [
      "Ocak", "Şubat", "Mart",
      "Nisan", "Mayıs", "Haziran", "Temmuz",
      "Ağustos", "Eylül", "Ekim",
      "Kasım", "Aralık"
    ];

    var day = date.getDate();
    var monthIndex = date.getMonth();
    var year = date.getFullYear();

    return day + ' ' + monthNames[monthIndex] + ' ' + year;
  }
